@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

a.white-link {
  color: rgb(0, 76, 255);
}

a.white-link:hover {
  color: rgb(0, 56, 188);
}

.box.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 4rem;
  border-radius: 48px;
}

.box.background-image.i1 {
  background-image: url('improvedquizlet.jpg');
}

.box.background-image.i2 {
  background-image: url('roboteventsapi.jpg');
}

.box.background-image.i3 {
  background-image: url('boostrobotics.jpg');
}

.box.background-image.i4 {
  background-image: url('speedzappers.jpg');
}

.box.background-image.i5 {
  background-image: url('raagini.jpg');
}