@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  background-color: rgb(22, 22, 22);
}

.navbar {
  background-color: rgb(24, 24, 24);
}

body, .navbar, .navbar-item, .title, .subtitle, .content {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.navbar a.navbar-item:hover {
  background-color: rgb(38, 38, 38);
  color: white;
}

.navbar-brand {
  flex-grow: 1;
}

.explore::before {
  content: '↓';
  margin-right: 1.6rem;
}

.explore::after {
  content: '↓';
  margin-left: 1.6rem;
}

a.white-link {
  color: rgb(168, 194, 255);
}

a.white-link:hover {
  color: rgb(105, 150, 255);
}

.projects .column {
  display: flex;
}

.box.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  width: 100%;

  padding: clamp(1.5rem, 5vw, 4rem);
  border-radius: clamp(16px, 4vw, 48px);
  font-weight: 500;
}

.box.background-image .content {
  flex-grow: 1;
}

.box.background-image.robotevents-api {
  background-image: url('screenshots/roboteventsapi.png');
}

.box.background-image.boost {
  background-image: url('screenshots/boost.png');
}

.box.background-image.improved-quizlet {
  background-image: url('screenshots/improvedquizlet.png');
}

.box.background-image.clicker {
  background-image: url('screenshots/clicker.png');
}

.box.background-image.notes {
  background-image: url('screenshots/notes.png');
}

.box.background-image.flip {
  background-image: url('screenshots/flip.png');
}

.box.background-image.ytdl {
  background-image: url('screenshots/ytdl.png');
}
