@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

a.white-link {
  color: rgb(0, 76, 255);
}

a.white-link:hover {
  color: rgb(0, 56, 188);
}

.box.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 4rem;
  border-radius: 48px;
  font-weight: 500;
}

.box.background-image.robotevents-api {
  background-image: url('screenshots/roboteventsapi.jpg');
}

.box.background-image.boost-robotics {
  background-image: url('screenshots/boostrobotics.jpg');
}

.box.background-image.improved-quizlet {
  background-image: url('screenshots/improvedquizlet.jpg');
}

.box.background-image.candy-clicker {
  background-image: url('screenshots/candyclicker.png');
}

.box.background-image.i-notes {
  background-image: url('screenshots/inotes.png');
}

.box.background-image.memory-flip {
  background-image: url('screenshots/memoryflip.png');
}